* { 
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1210px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    text-decoration: none;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
    background: #17696A;
    border-radius: 4px;
    border: 1px solid #17696A;
    font-weight: 700;
    font-size: 16px;
    line-height: 52px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    transition: ease-out 0.3s;
}

.button:hover {
    background: none;
    color:#17696A;
}

.button--outline {
    color: #17696A;
    background: none;
}

.button--outline:hover {
    background: #17696A;
    color: #FFFFFF;
}

.menu {
    background:  #1E212C;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    padding: 12px 0;
}

.wrap {
    display: flex; 
    justify-content: space-between;
    align-items: center;

}

.auth {
    font-size: 14px;
    line-height: 150%;
    background: transparent;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    border: none;
    opacity: 0.6;
    cursor: pointer;
}

.auth:hover {
    opacity: 1;
    transition: ease-out 0.3s;
}

.auth svg {
    margin-right: 9px;
}

.links__menu-link:not(:last-child) {
    margin-right: 32px;
}

.menu__text {
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.6;
}

.links__menu-link {
    color: #FFFFFF;
    opacity: 0.6;
    transition: ease-out 0.3s;
}

.menu__link {
    color: #FFFFFF;
    opacity: 0.6;
    font-weight: 900;
    transition: ease-out 0.3s;
}

.menu__link:hover, 
.links__menu-link:hover {
    opacity: 1;
}

.menu__right {
    display: flex;
    align-items: center;
}

.currency {
  margin-right: 60px;  
  display: flex;
  align-items: center;
}

.currency__lang {
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-left: 12px;
}

.arrow-down {   
    width: 8px;
    height: 4.5px;
    flex-shrink: 0;
    margin-left: 6px;
}

.arrow-down path {
    fill: #FFFFFF;
    opacity: 0.6;
}

.main-menu__left {
    display: flex;
    align-items: center;
}

.main-menu__logo {
    margin-right: 60px;
}

.main-menu__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
    transition: ease-out 0.3s;
}

.main-menu__link:not(:last-child) {
    margin-right: 40px;
}

.main-menu__link:hover {
    color: #FF4242;
}

.main-menu__right {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.main-menu__search {
    width: 380px;
    background: #FFFFFF;
    border: 1px solid #D7DADD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-right: 48px;
}

.main-menu__input {
    padding: 12px 0 12px 16px;
    width: 100%;
    border: none;
}

.main-menu__input:focus {
    border: none;
    outline: none;
}

.main-menu__magnifier {
    margin: 14px 16px;
}

.main-menu__toolbars {
    display: flex;
    align-items: center;
}

.toolbar {
    display: flex;
    align-items: center;
    transition: ease-out 0.3s;
}

.toolbar__svg {
    margin-right: 8px;
}

.toolbar:hover {
    color: #FF4242;
}

.toolbar__count { 
    background: #03CEA4;
    border-radius: 4px;
    padding: 1px 8px;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 12px;
    line-height: 150%;
}

.toolbar__line {
    margin: 0px 20px;
    background: linear-gradient(270.01deg, rgba(218, 219, 221, 0) 0%, rgba(218, 219, 221, 0.5) 12.33%, #DADBDD 51.91%, rgba(218, 219, 221, 0.5) 87.85%, rgba(218, 219, 221, 0) 100%);
    width: 1px;
    height: 22px;
}

.hero {
    background-image: url("/images/hero-bg.png");
    background-size: cover;
    background-position: center;
    height: 100%;
    padding-top: 140px;
    padding-bottom: 180px;
}

.hero__subtittle {
    font-weight: 700;
    font-size: 18px;
    line-height: 150%; 
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1E212C;
}

.hero__tittle {
    font-weight: 900;
    font-size: 72px;
    line-height: 130%;
    letter-spacing: 1px;
    color: #1E212C;
    margin: 12px 0 60px;
}

.hero__number {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: #424551;
    opacity: 0.6;
    flex: 0 0 178px;
}

.hero__number__line {
    width: 100%;
    height: 2px;
    background: #424551;
    opacity: 0.6;
    margin-top: 12px;
}

.hero__number:not(:last-child) {
    margin-right: 4px;
}

.hero__numbers {
    display: flex;
}

.hero__number--active {
    opacity: 1;
}

.hero__buttons {
    display: flex;
    margin-bottom: 180px;
}

.hero__button__left {
    margin-right: 24px;
}


/* categories */

.categories {
    display: flex;
    justify-content: center;
    transform: translateY(-60px);
}

.categories__img-wrap {
    overflow: hidden;
    border-radius: 4px;
    height: 390px;
    width: 390px;
    margin-bottom: 16px;
}

.categories__img {
    transition: 0.3s ease-out;
}

.categories__link {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #424551;
    text-align: center;
    transition: 0.3s ease-out;
}

.categories__link:not(:last-child) {
    margin-right: 30px;
}

.categories__link:hover {
    color: #04091a;
}

.categories__link:hover .categories__img {
    transform: scale(1.2);
}